<ion-content padding>
  <ion-card>
    <center><img src="assets/img/DuocucLogo.png"width="500" height="100" ></center>
    <ion-card-content>
      <ion-card-title>
        Sistema de Asistencia Duoc 
      </ion-card-title>
    </ion-card-content>
  </ion-card>

  <form [formGroup]="loginForm" class="form" (ngSubmit)="onSubmit()">
    <div class="form-group fgr">
        <label class="label" for="pasword">Email</label>
      <center><input class="form-control" type="text" formControlName="email"></center>  
    </div>
  
    <div class="form-group fgr">
      <label class="label" for="pasword">Contraseña</label>
      <center><input class="form-control" type="password" formControlName="password" ></center>  
    </div>
    
    <div>
      <button type="submit">Iniciar Sesi&oacute;n</button>
    </div>
  </form>

<br>
<center><a [routerLink]="'/correo'">Recuperar Contraseña</a></center>
</ion-content>