<ion-header>
  <ion-toolbar>
    <img src="assets/img/logoDu.png" width="150px" height="150px">
    <ion-title>Sistema de Asistencia Duoc</ion-title>
  </ion-toolbar>
</ion-header>

<ion-toolbar>
  <ion-title>Recuperar contrase&nacute;a</ion-title>
</ion-toolbar>

<ion-content>
  <img src="assets/img/ojo.jpg" width="100px" height="100px">
  <br>
  ¡LO SENTIMOS PERO DATOS INGRESADOS NO SON CORRECTOS!
  <br>
  <button [routerLink]="'/pregunta'">Volver a intentar</button>
  <center><a [routerLink]="'/'">Iniciar sesión</a></center>

</ion-content>