<ion-content padding>

  <ion-card>
    <center><img src="assets/img/logoDu.png"></center>
    <ion-card-content>
      <ion-card-title>
        Sistema de Asistencia Duoc 
      </ion-card-title>
    </ion-card-content>
  </ion-card>
  <div class="form-group">
    <center><input class="form-control" type="text"  
       placeholder="Ingresa tu Correo"></center>  
</div>
<br>
<div class="form-group">
  <center><input class="form-control" type="text"  
     placeholder="Ingresa tu Contraseña"></center>  
</div>
<br>
<div class="row borde-bootstrap-row">
  <center><button type="submit" class="btn btn-primary">Ingresar</button></center>
</div>
<br>
<center><a href="src\app\tab1\tab1.page.html">Iniciar Sesion</a></center>
</ion-content>